<app-header-bar></app-header-bar>
<main class="main-dashboard">
  <div class="main-dashboard-filter-form">
    Hello Profile List
    <!--<form>-->
      <!--<label>-->
        <!--<select onChange={this.onLocationChange}>-->
          <!--{/*<option value="" selected>select your beverage</option>*/}-->
          <!--{this.props.locations.map((location, ind) => (-->
          <!--<option value={location} key={ind}>{location}</option>-->
          <!--))}-->
        <!--</select>-->
      <!--</label>-->
      <!--<label>-->
        <!--<select onChange={this.onServiceChange}>-->
          <!--{this.props.serviceTypes.map((service, ind) => (-->
          <!--<option value={service} key={ind}>{service}</option>-->
          <!--))}-->
        <!--</select>-->
      <!--</label>-->
    <!--</form>-->
  </div>
  <!--{users}-->
</main>
